{% extends 'base.html' %}
{% block title %}Стартовая страница MedCard{% endblock title %}
{% block content %}
<h2>Доступные функции</h2>
<a href="admin">Admin</a>
    <a href="registration">Registration</a>
    <a href="medcard">Откроется после проверки пароля</a>
<p>Hello. In this page authentication</p>
    <p> Нужен фон с врачами, и табличка логин, пароль.
        Проверка пароля, в случае не пустого заполнения, </br>и
        отсутствия перебросить на регистрацию.
        Ниже описание:
        Medcard - элетронная медицинская карта пациента,</br>
        позволяет просматривать медицинскую историю и тд тп.
    </p>
<div>
    <form action="" method="post" id="authentication">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    </form>

    <label for="role">Choose role:</label>
    <select id="role" name="role" form="authentication">
    {% for item in list_role %}
    <option value="{{item.role}}">{{item.description}}</option>
    {% endfor %}
    </select>
</div>
    {% autoescape off %}
       {{ context }}
    {% endautoescape %}

{% endblock content %}