{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Мои визиты{% endblock title %}
{% block content %}
<h2 style="text-align:center">My visits</h2>
<div class="btn-wrapper one-button-right">
    <a href="/visits/add" class="btn btn-primary" style="margin-right: 30px;">Add new</a>
</div>
{% if visits %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">City</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <th scope="row">{{visit.id}}</th>
                <td><strong>{{visit.date_time}}</strong></td>
                <td>{{visit.patient.user_account.first_name}}</td>
                <td>{{visit.patient.user_account.last_name}}</td>
                <td>{{visit.patient.user_account.sex}}</td>
                <td>{{visit.patient.user_account.date_of_birth}}</td>
                <td>{{visit.patient.user_account.city}}</td>
                <td><a href="/visits/visit/{{visit.id}}">More info</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
     <span class="step-links">
      {% if visits.has_previous %}
          <a class="btn btn-secondary" href="?page={{ visits.previous_page_number }}">Previous</a>
      {% endif %}
        <span class="current">
            Page {{ visits.number }} of {{ visits.paginator.num_pages }}.
        </span>
      {% if visits.has_next %}
            <a class="btn btn-secondary" href="?page={{ visits.next_page_number }}">Next</a>
      {% endif %}
      </span>
    </div>
{% else %}
        <p>You don't have visits yet.</p>
{% endif %}
{% endblock content %}