{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Мои визиты{% endblock title %}
{% block content %}
<h2 style="text-align:center">My visits</h2>
{% if visits %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">City</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <th scope="row">{{visit.id}}</th>
                <td><strong>{{visit.date_time}}</strong></td>
                <td>{{visit.patient.user_account.first_name}}</td>
                <td>{{visit.patient.user_account.last_name}}</td>
                <td>{{visit.patient.user_account.sex}}</td>
                <td>{{visit.patient.user_account.date_of_birth}}</td>
                <td>{{visit.patient.user_account.city}}</td>
                <td><a href="#">More info</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
        <p>You don't have visits yet.</p>
{% endif %}
{% endblock content %}