{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}My profile{% endblock title %}
{% block content %}
    {% if user_info %}
        <div class="profile-container">
            <div class="row">
                <div class="col">
                    <div class="profile-left">
                        {% for user in user_info %}
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png"/>
                            <h5>{{user.first_name}} {{user.last_name}}</h5>
                            <p>{{user.email}}</p>
                            <p>{{user.mob_tel}}</p>
                            <p><i>From {{user.city}}</i></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="edit">Edit profile</a></li>
                        <li class="list-group-item"><a href="/visits/add/">Add app</a></li>
                        <li class="list-group-item"><a href="/visits/my-visits/">My visits</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}