{% extends 'base.html' %}
{% block title %}Стартовая страница MedCard{% endblock title %}
{% block content %}
<h2>Доступные функции</h2>
<a href="admin/">Admin</a>
    <a href="{% url 'registration:index'%}">Registration</a>
    <a href="{% url 'authentication:login'%}">Log in</a>
    <a href="{% url 'authentication:logout'%}">Log out</a>
    <a href="{%url 'medcard:medcard'%}">Откроется после проверки пароля</a>
<p>Hello. In this page authentication</p>
    <p> Нужен фон с врачами, и табличка логин, пароль.
        Проверка пароля, в случае не пустого заполнения, </br>и
        отсутствия перебросить на регистрацию.
        Ниже описание:
        Medcard - элетронная медицинская карта пациента,</br>
        позволяет просматривать медицинскую историю и тд тп.
    </p>
    {%if flash.error%}
        {%for message in flash.error%}
            <p>{{message}}</p>
        {%endfor%}
    {% endif%}
    {% autoescape off %}
       {{ context }}
    {% endautoescape %}
    {% include "include/messages.html" %}
{% endblock content %}