{% extends 'base.html' %}
{% block title %}Стартовая страница пациента MedCard{% endblock title %}
{% block content %}
 {{ today }}<br>
 Patient: {{ patient.user_account.first_name}} {{ patient.user_account.patronymick}} {{ patient.user_account.last_name}}<br>

    История болезней:
    {% if disease %}
        <ul>
            {% for item in disease %}
                <li>Диагноз:{{ item.diagnosis }}</li>
            {%  endfor %}
        </ul>
    {% else %}
        я абсолютно здоров :)
    {% endif %}
    <br>
    Текущий статус
    <br>
{% endblock content %}