a {

}

.profile-container {
    width: 990px;
    margin: auto;
}

.profile-left {
    text-align: center;
}

.profile-left img {
    margin-bottom: 20px;
}

.profile-left p {
    margin-bottom: 5px;
}

.container {
    width: 100%;
    max-width: 1024px;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.reg-btn {
    margin-left: 10px;
}

form label {
    font-weight: 600;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.btn-wrapper.one-button-right {
    justify-content: flex-end;
}

.btn-wrapper.one-button-left {
    justify-content: flex-start;
}

.pagination {
    justify-content: center;
}

footer {
    background-color: #1f3361;
    margin-top: 50px;
}

footer .footer-copyright {
    color: #fff;
}