{% extends 'base.html' %}
{% block title %}Мои пациенты{% endblock title %}
{% block content %}
    {% if user %}
        {% for data in user %}
            <p>First name: {{data.first_name}}</p>
            <p>Last name: {{data.last_name}}</p>
            <p>E-mail: {{data.email}}</p>
            <p>Tel: {{data.mob_tel}}</p>
            <p>Date of birth: {{data.date_of_birth}}</p>
            <p>City: {{data.city}}</p>
            <p>Gender: {{data.sex}}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}