{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Мои пациенты{% endblock title %}
{% block content %}
    {% if patients %}
        {% for patient in patients %}
            <p>First name: {{patients|get_item:patient|get_item:'first_name'}}</p>
            <p>Last name: {{patients|get_item:patient|get_item:'last_name'}}</p>
            <p>E-mail: {{patients|get_item:patient|get_item:'email'}}</p>
            <p>Tel: {{patients|get_item:patient|get_item:'mob_tel'}}</p>
            <p>Date of birth: {{patients|get_item:patient|get_item:'date_of_birth'}}</p>
            <p>City: {{patients|get_item:patient|get_item:'city'}}</p>
            <p>Gender: {{patients|get_item:patient|get_item:'sex'}}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}